NodeRED/flows.json
[
    {
        "id": "15dffd88.45f7a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "83b89b66.48f3a8",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Temperature Chart",
        "group": "c467b276.39485",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0dbf17.b81801",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 127.9998550415039,
        "y": 123.666748046875,
        "wires": [
            [
                "83b89b66.48f3a8",
                "dd869a49.29ebe8",
                "1595d499.eb5fdb"
            ]
        ]
    },
    {
        "id": "466f53b2.6e01dc",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/humidity",
        "qos": "1",
        "broker": "171132c7.ece67d",
        "x": 119.83313751220703,
        "y": 33.66664505004883,
        "wires": [
            [
                "d0da5f75.11988",
                "1595d499.eb5fdb"
            ]
        ]
    },
    {
        "id": "2cc400f0.20bfd",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Humidity Chart",
        "group": "c467b276.39485",
        "order": 5,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 620.8331642150879,
        "y": 66.66663074493408,
        "wires": [
            []
        ]
    },
    {
        "id": "d0da5f75.11988",
        "type": "smooth",
        "z": "15dffd88.45f7a2",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "100",
        "round": "3",
        "mult": "single",
        "reduce": false,
        "x": 365.99974060058594,
        "y": 33.666521072387695,
        "wires": [
            [
                "2cc400f0.20bfd",
                "4b4ac378.11f50c"
            ]
        ]
    },
    {
        "id": "84053af0.b23168",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/voltage",
        "qos": "1",
        "broker": "171132c7.ece67d",
        "x": 102.83326721191406,
        "y": 492.6668424606323,
        "wires": [
            [
                "d797f399.147c5"
            ]
        ]
    },
    {
        "id": "42abb82d.a74408",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/pressure",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 118.8331069946289,
        "y": 222.66654872894287,
        "wires": [
            [
                "b24f9cea.10ab4"
            ]
        ]
    },
    {
        "id": "b24f9cea.10ab4",
        "type": "function",
        "z": "15dffd88.45f7a2",
        "name": "pascal to hecto",
        "func": "//msg.payload *= 0.01;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 381.9998321533203,
        "y": 224.33325481414795,
        "wires": [
            [
                "b616bc41.ff459",
                "1595d499.eb5fdb",
                "f2945bd9.578ee8"
            ]
        ]
    },
    {
        "id": "4b4ac378.11f50c",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Vlhkost",
        "label": "%",
        "format": "{{value|number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5a5a5a",
            "#34b92d",
            "#0202ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 597.9998359680176,
        "y": 16.666556358337402,
        "wires": []
    },
    {
        "id": "dd869a49.29ebe8",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Teplota",
        "label": "°C",
        "format": "{{value|number:1}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "b616bc41.ff459",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Tlak",
        "label": "hPa",
        "format": "{{value|number:2}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a74a844.7f02a8",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/light",
        "qos": "1",
        "broker": "171132c7.ece67d",
        "x": 98.83309936523438,
        "y": 304.66659355163574,
        "wires": [
            [
                "920ea2dd.47835",
                "1595d499.eb5fdb",
                "f2e0161c.f5dd18"
            ]
        ]
    },
    {
        "id": "920ea2dd.47835",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 11,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Světlo",
        "label": "lux",
        "format": "{{value|number:2}}",
        "min": "0",
        "max": "150000",
        "colors": [
            "#000080",
            "#c0c0c0",
            "#ffff80"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "cb1b2026.f7722",
        "type": "function",
        "z": "15dffd88.45f7a2",
        "name": "state to finished html icon",
        "func": "\nvar moon = \"&#127769;\";\nvar rain = \"&#127783;\";\nvar sun = \"&#127774\";\nvar cloud = \"&#9925;\";\n\ncontext.humidity = context.humidity || 50;\ncontext.light = context.light || 0.5;\ncontext.pressure = context.pressure || 1000;\n\nif(msg.topic === 'humidity' && msg.payload != 'nan')\n context.humidity = msg.payload;\nif(msg.topic === 'light' && msg.payload != 'nan')\n context.light = msg.payload;\nif(msg.topic === 'pressure' && msg.payload != 'nan')\n context.pressure = msg.payload;\n\nif(context.humidity < 50)\n{\n if(context.light > 0.1)\n msg.payload = sun;\n else\n msg.payload = moon;\n}\nelse \nif(context.humidity < 80)\n{\n //if(context.light > 0.1)\n msg.payload = cloud;\n //else\n // msg.payload = moon;\n}\nelse\n{\n msg.payload = rain;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 668.8330154418945,
        "y": 421.6664762496948,
        "wires": [
            [
                "e901e26f.35f14"
            ]
        ]
    },
    {
        "id": "1595d499.eb5fdb",
        "type": "change",
        "z": "15dffd88.45f7a2",
        "name": "translate topic",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "weatherStation/humidity",
                "fromt": "str",
                "to": "humidity",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "weatherStation/temperature",
                "fromt": "str",
                "to": "temperature",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "weatherStation/light",
                "fromt": "str",
                "to": "light",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "weatherStation/pressure",
                "fromt": "str",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 428.83300018310547,
        "y": 418.66647720336914,
        "wires": [
            [
                "cb1b2026.f7722"
            ]
        ]
    },
    {
        "id": "e901e26f.35f14",
        "type": "ui_template",
        "z": "15dffd88.45f7a2",
        "group": "c467b276.39485",
        "name": "Weather symbol",
        "order": 3,
        "width": 1,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\" style=\"font-size: 23pt\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 926.8330268859863,
        "y": 419.66647577285767,
        "wires": [
            []
        ]
    },
    {
        "id": "f2e0161c.f5dd18",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Light Chart",
        "group": "c467b276.39485",
        "order": 12,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 608.8330993652344,
        "y": 348.6665143966675,
        "wires": [
            []
        ]
    },
    {
        "id": "d797f399.147c5",
        "type": "function",
        "z": "15dffd88.45f7a2",
        "name": "scale",
        "func": "msg.payload *= 3.304 / 2788;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380.83299255371094,
        "y": 496.66648292541504,
        "wires": [
            [
                "84485f42.fb083"
            ]
        ]
    },
    {
        "id": "84485f42.fb083",
        "type": "debug",
        "z": "15dffd88.45f7a2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 629.9998550415039,
        "y": 496.66648173332214,
        "wires": []
    },
    {
        "id": "f2945bd9.578ee8",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Pressure Chart",
        "group": "c467b276.39485",
        "order": 9,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 620,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b5b2f096.22a2",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/UV",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "5cd7719e.ce39d",
                "26704042.fcd9e"
            ]
        ]
    },
    {
        "id": "26704042.fcd9e",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 15,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "UV Intenzita",
        "label": "mW/m2",
        "format": "{{value|number:1}}",
        "min": "00",
        "max": "20",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 601.9999885559082,
        "y": 570.9998149871826,
        "wires": []
    },
    {
        "id": "5cd7719e.ce39d",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "UV intenzita",
        "group": "c467b276.39485",
        "order": 16,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 602.0001449584961,
        "y": 616.333251953125,
        "wires": [
            []
        ]
    },
    {
        "id": "5fcc862b.e635f8",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/temp1",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "9dcd8709.448128",
                "46702ab7.e0ff14"
            ]
        ]
    },
    {
        "id": "46702ab7.e0ff14",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 36,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Teplota Node_1",
        "label": "°C",
        "format": "{{value|number:1}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 611.9999885559082,
        "y": 670.9998149871826,
        "wires": []
    },
    {
        "id": "9dcd8709.448128",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Temperature Chart Sklenik",
        "group": "c467b276.39485",
        "order": 37,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 652.0001449584961,
        "y": 716.333251953125,
        "wires": [
            []
        ]
    },
    {
        "id": "54bcb82a.b39068",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/hum1",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 100,
        "y": 820,
        "wires": [
            [
                "56089581.79f7dc",
                "86434786.324648"
            ]
        ]
    },
    {
        "id": "1023992d.f8e117",
        "type": "smooth",
        "z": "15dffd88.45f7a2",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "100",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 340,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "86434786.324648",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "",
        "group": "c467b276.39485",
        "order": 38,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Vlhkost Node_1",
        "label": "%",
        "format": "{{value|number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#5a5a5a",
            "#34b92d",
            "#0202ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 598.1666984558105,
        "y": 802.9999113082886,
        "wires": []
    },
    {
        "id": "56089581.79f7dc",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Humidity Chart Node_1",
        "group": "c467b276.39485",
        "order": 39,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 631.0000267028809,
        "y": 852.9999856948853,
        "wires": [
            []
        ]
    },
    {
        "id": "c536ef17.2e1",
        "type": "ui_text",
        "z": "15dffd88.45f7a2",
        "group": "c467b276.39485",
        "order": 35,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Node_1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "3c4cec17.b51084",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/WV",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 90,
        "y": 920,
        "wires": [
            [
                "b9b16152.56332"
            ]
        ]
    },
    {
        "id": "b9b16152.56332",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "Směr",
        "group": "c467b276.39485",
        "order": 22,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Směr",
        "label": "",
        "format": "{{value}} °",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 960,
        "wires": []
    },
    {
        "id": "dd4549f1.2c4fb8",
        "type": "mqtt in",
        "z": "15dffd88.45f7a2",
        "name": "",
        "topic": "weatherStation/Speed",
        "qos": "1",
        "datatype": "auto",
        "broker": "171132c7.ece67d",
        "nl": false,
        "rap": false,
        "x": 100,
        "y": 1020,
        "wires": [
            [
                "ba4ee62a.3d8828"
            ]
        ]
    },
    {
        "id": "e557850e.754cd8",
        "type": "ui_gauge",
        "z": "15dffd88.45f7a2",
        "name": "Rychlost větru",
        "group": "c467b276.39485",
        "order": 24,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Rychlost větru",
        "label": "Km/h",
        "format": "{{value|number:1}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0000ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "75",
        "x": 520,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4ad74641.bc8438",
        "type": "ui_chart",
        "z": "15dffd88.45f7a2",
        "name": "Speed Chart",
        "group": "c467b276.39485",
        "order": 25,
        "width": 4,
        "height": 3,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "ba4ee62a.3d8828",
        "type": "function",
        "z": "15dffd88.45f7a2",
        "name": "m/s to km/h",
        "func": "msg.payload *= 3.6;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "e557850e.754cd8",
                "4ad74641.bc8438"
            ]
        ]
    },
    {
        "id": "c467b276.39485",
        "type": "ui_group",
        "name": "Venek",
        "tab": "7894fc0d.fc8084",
        "order": 1,
        "disp": false,
        "width": "15",
        "collapse": false
    },
    {
        "id": "171132c7.ece67d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7894fc0d.fc8084",
        "type": "ui_tab",
        "name": "Climate",
        "icon": "dashboard",
        "order": 1
    }
]
